@charset "UTF-8";

body {
    background-color: aquamarine;
    text-align: center;
}

body > form {
    background-color: lightpink;
    padding: 10px;
    border-radius: 15px;
}

form > fieldset {
    margin: center;
}